<div>
    <div *ngIf="userData" class="bg-zinc-900 text-white rounded-md">
        <div class="flex flex-col pt-20 pb-6 bg-emerald-600 rounded-t-md">
            <div class="relative h-fit w-fit mx-auto">
                <a [href]="userData.external_urls.spotify" target="_blank">
                    <img [src]="userData.images[0].url" alt="Profile Picture" class="rounded-sm h-20 w-20 mb-4">
                </a>
                <img [src]="flagUrl" class="absolute bottom-[4.75rem] left-[4rem] h-8 w-8">
            </div>
            <a [href]="userData.external_urls.spotify" target="_blank" class="m-auto">
                <h1 class="text-xl">{{ userData.display_name }}</h1>
            </a>
            <p class="mx-auto mb-3">{{ userData.followers.total }} followers</p>
        </div>
        <div>
            <h1 class="text-2xl p-4">Your playlists:</h1>
            <div class="flex xl:flex-row gap-10 p-4 flex-wrap xl:justify-center">
                <div *ngFor="let playlist of playlists.__zone_symbol__value.items">
                    <div class="flex xl:flex-col gap-6 xl:gap-4 xl:w-48 xl:justify-center">
                        <a [href]="playlist.external_urls.spotify" target="_blank" class="w-fit mx-auto">
                            <img [src]="playlist.images[0].url" alt="Playlist Picture" class="rounded-md h-20 w-20">
                        </a>
                        <div class="flex flex-col justify-center">
                            <a [href]="playlist.external_urls.spotify" target="_blank">
                                <h1 class="text-xl xl:text-center">{{ playlist.name }}</h1>
                            </a>
                            <p class="xl:text-center">{{ playlist.tracks.total }} tracks</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--
        <p>Email: {{ userData.email }}</p>
        <p>Followers: {{ userData.followers.total }}</p>
        <p>Account: {{ userData.product }}</p>
        <p>ID: {{ userData.id }}</p>
        -->
    </div>
</div>